<div>
    movie list html content.<br />
    var: {{ $ctrl.myVar }}<br />
    input: {{ $ctrl.testinput }}<br />
    input2: {{ $ctrl.testinput2 }}<br />
    movies1: {{ $ctrl.movies1 }}<br />
    movies2: {{ $ctrl.movies2 }}<br />
    movies1: <input ng-model="$ctrl.movies1[1].title"><br />
    movies2: <input ng-model="$ctrl.movies2[1].title"><br />
    primitive1: <input ng-model="$ctrl.primitive1"><br />
    primitive2: <input ng-model="$ctrl.primitive2"><br />
    primitive3: <input ng-model="$ctrl.primitive3"><br />
</div>